<?xml version="1.0"?>
<!-- loaded urdf file for robot-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot1">

    <xacro:property name="use_ros2_control" value="true"/>

    <xacro:if value="${use_ros2_control}">
        <xacro:include filename="ros2_control.xacro"/> 
    </xacro:if>

    <xacro:unless value="${use_ros2_control}">
        <!-- <xacro:include filename="gazebo_control.xacro"/> -->
    </xacro:unless>
    
    <xacro:include filename="base_actual.xacro"/>
    <xacro:include filename="sensors.xacro"/>

</robot>